@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/layout.css";
@import "./styles/profile.css";
@import "./styles/auth.css";
@import "./styles/users.css";
@import "./styles/modals.css";



body {
  @apply bg-gray-100;
}

@theme {
  --font-sans: "Montserrat", sans-serif;
}

#root {
  width: 100%;
  min-height: 0 auto;
  text-align: center;
  margin: 0 auto;
  /* max-width: 1280px;
  padding: 2rem; */
}